.dwl-team-isotope-filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dwl-team-filter-button{
    font-size: 16px;
    line-height: normal;
    padding-left: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    color: var(--wtm-color-dark_blue);
    text-decoration: none;
}


.dwl-team-wrapper .team-isotope-feature-img-round img {
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .dwl-team-isotope-container.istyle-2 .team-member-info-content {
    background-color: #4F959D;
  }
  .dwl-team-isotope-container.istyle-2 h2.team-member-title {
    color: #fff;
  }
  .dwl-team-isotope-container.istyle-2 .team-member-desc a {
    text-decoration: none;
  }
  .dwl-team-isotope-container.istyle-2 .team-member-info-wrap .team-position {
    color: #fff;
  }
  .dwl-team-wrapper.dwl-team-isotope-container.istyle-2 .dwl-team-filter-button.active {
    background: #4F959D;
  }
  .dwl-team-wrapper.dwl-team-isotope-container.istyle-2 .dwl-team-filter-button:hover {
    background: #4F959D;
  }
  .dwl-team-wrapper.dwl-team-isotope-container.istyle-2  button {
  
    background: #205781;
  }
  .dwl-team-isotope-container .team-member-other-info {
    text-align: center;
  }
  
  .dwl-team-isotope-container.istyle-2 .team-member-info
   {
    color: #fff;
  }
  .dwl-team-isotope-container.istyle-2 .team-member-info a
   {
    color: #fff;
  }
  .dwl-team-isotope-container.istyle-2 .team-short-bio
   {
    color: #fff;
  }
  .dwl-team-isotope-container.istyle-2 .team-member-info i {
    color: #fff;
  }
  .dwl-team-isotope-container.istyle-2 .wtm-read-more-wrap .wtm-read-more{
    color: #fff;
  }
  .dwl-team-isotope-container.istyle-2 span.team-member-skill-title{
    color: #fff;
  }
  .dwl-team-elementor-layout-isotope .team-member{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    box-shadow: 0 1px 6px -4px #777;
}
  .dwl-team-elementor-layout-isotope .team-member-info-content{
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
    background-color: var(--wtm-color-white);
    overflow: hidden;
}
  
.dwl-team-isotope-container button {
    background: var(--wtm-color-light_blue);
    border: none;
    color: var(--wtm-color-white);
    text-transform: none;
    font-weight: 400 !important;
    margin: 8px;
    padding: 10px 15px;
    outline: 0px;
    box-shadow: none;
    text-shadow: none;
    border-radius: 7px;
}

.dwl-team-isotope-container button:hover {
    background: var(--wtm-color-green);
    cursor: pointer;
    transition: 0.3s;
}

.dwl-team-isotope-container .dwl-team-filter-button.active {
    background: var(--wtm-color-green);
}
.wtm-isotope-grid::after {
    content: '';
    display: block;
    clear: both;
}
.wtm-isotope-item{
    min-height: 400px;
    margin-bottom: 25px;
}
.elementor-editor-preview .wtm-isotope-grid,
.elementor-editor-active .wtm-isotope-grid{
    height: auto !important;
}
.wtm-isotope-item .team-member-info{
    margin-bottom: 8px;
}
.wtm-isotope-item .wtm-read-more-wrap{
    margin-bottom: 10px;
}
.wtm-isotope-item .team-member-socials{
    justify-content: center;
}